{% extends 'jornal/base.html' %}

{% block content %}
<article>
    <h1 class="display-4 fw-bold">{{ artigo.titulo }}</h1>
    <p class="text-muted">Publicado em {{ artigo.data_publicacao }}</p>
    <hr>
    <div class="lead" style="white-space: pre-line;">
        {{ artigo.corpo }}
    </div>
    
    <div class="mt-5">
        <a href="{% url 'comentarios' artigo.id %}" class="btn btn-primary">Ver Comentários</a>
        <a href="{% url 'home' %}" class="btn btn-secondary ms-2">Voltar à lista</a>
    </div>
</article>
{% endblock %}